$dark-grey: #666666;
$grey: #788891;
$color-border: #ebebeb;
$blue: #00b2ff;
$white: #ffffff;
$background-footer: #fafafa;
$background-grey: #626962;
$color-footer: #1b2d37;
$black: #000000;
$background-accordion: #c4c4c4;
$logo-black: #203c42;
$background-header: #1b2d37;
